# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Database/Code/Codes.cs
*.config
*.pubxml
*.user
packages/Microsoft.Web.WebJobs.Publish.1.0.0/Microsoft.Web.WebJobs.Publish.1.0.0.nupkg
packages/Microsoft.Web.WebJobs.Publish.1.0.0/tools/install.ps1
packages/Microsoft.Web.WebJobs.Publish.1.0.0/tools/Microsoft.IdentityModel.Clients.ActiveDirectory.dll
packages/Microsoft.Web.WebJobs.Publish.1.0.0/tools/Microsoft.IdentityModel.Clients.ActiveDirectory.WindowsForms.dll
packages/Microsoft.Web.WebJobs.Publish.1.0.0/tools/Microsoft.Threading.Tasks.dll
packages/Microsoft.Web.WebJobs.Publish.1.0.0/tools/webjobs.wap.targets
packages/Microsoft.Web.WebJobs.Publish.1.0.0/tools/webjobs.console.targets
packages/Microsoft.Web.WebJobs.Publish.1.0.0/tools/Microsoft.WindowsAzure.Management.dll
packages/Microsoft.Web.WebJobs.Publish.1.0.0/tools/Microsoft.WindowsAzure.Common.dll
packages/Microsoft.Web.WebJobs.Publish.1.0.0/tools/Microsoft.Web.WebJobs.Publish.Tasks.dll
packages/Microsoft.Web.WebJobs.Publish.1.0.0/tools/Microsoft.WindowsAzure.Management.WebSites.dll
packages/Microsoft.Web.WebJobs.Publish.1.0.0/tools/Newtonsoft.Json.dll
packages/Microsoft.Web.WebJobs.Publish.1.0.0/tools/Microsoft.WindowsAzure.Common.NetFramework.dll
packages/Microsoft.Web.WebJobs.Publish.1.0.0/tools/Microsoft.WindowsAzure.Management.Scheduler.dll
packages/Microsoft.Web.WebJobs.Publish.1.0.0/tools/uninstall.ps1
packages/Microsoft.Web.WebJobs.Publish.1.0.0/tools/Microsoft.Threading.Tasks.Extensions.dll
packages/Microsoft.Web.WebJobs.Publish.1.0.0/tools/System.Net.Http.Extensions.dll
packages/Microsoft.Web.WebJobs.Publish.1.0.0/tools/webjobs.ext.targets
packages/Microsoft.Web.WebJobs.Publish.1.0.0/tools/System.Net.Http.Primitives.dll
packages/Microsoft.Web.WebJobs.Publish.1.0.0/tools/webjobs.targets
